.mw-50 {
  max-width: 50%;
}

.fsz-3 {
  font-size: 0.3em;
}

.fsz-35 {
  font-size: 0.35em;
}

.fsz-4 {
  font-size: 0.4em;
}

.fsz-45 {
  font-size: 0.45em;
}

.fsz-5 {
  font-size: 0.5em;
}

.fsz-55 {
  font-size: 0.55em;
}

.fsz-6 {
  font-size: 0.6em;
}

.fsz-65 {
  font-size: 0.65em;
}

.fsz-7 {
  font-size: 0.7em;
}

.fsz-75 {
  font-size: 0.75em;
}

.fsz-8 {
  font-size: 0.8em;
}

.fsz-85 {
  font-size: 0.85em;
}

.fsz-9 {
  font-size: 0.9em;
}

.fsz-95 {
  font-size: 0.95em;
}

.fsz-10 {
  font-size: 1em;
}

.fsz-11 {
  font-size: 1.1em;
}

.fsz-12 {
  font-size: 1.2em;
}

.fsz-13 {
  font-size: 1.3em;
}

