$vue-blue: #32485F;
$vue-green: rgba(16, 91, 99, 0);
$orange: #3d47a3;
$yellow: #FFD34E;
$green: #105B63;
$beige: #FFFAD5;
$main_blue: #33c3f0;
$gray_hover: #303030;
$text_blue: #1EAEDB;
$outline-weight: 1px;
$outline-crimson: $outline-weight dotted crimson;
$outline-whitesmoke: $outline-weight dotted whitesmoke;
$outline-green: $outline-weight dotted green;
$outline-blue: $outline-weight dotted blue;
$widthNone: none;
//---------------------
$icon-font: icomoon, FontAwesome;
$prime-font: Raleway, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
//$prime-font: 'Avenir', Helvetica, Arial, sans-serif;
$name-font: 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
$second_font: 'Roboto Roboto';
$btn-font: Verdana,Arial,sans-serif, icomoon;
//$bgr-button: url("images/button.png") repeat-x scroll 50% 50% #e6e6e6;
//$bgr-button-hover: url("images/button-hover.png") repeat-x scroll 50% 50% #dadada;
//----------------------
//$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
