
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */